<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="./css/style.css" rel="stylesheet" type="text/css" >
  <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center">Tool</h5>
                <form class="form-signin" action="/download" method="POST">
                  <br class="my-4">
                  <div class="form-label-group">
                    <input type="text" id="inputLink" name="inputLink" class="form-control" placeholder="Copy link in here" required autofocus>
                    <label for="inputLink">Copy link in here</label>
                  </div>
                  <br class="my-4">
    
                  <div class="form-label-group">
                  </div>
                  
                  <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Download</button>
                  <hr class="my-4">
                  <iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fthoitrang1688%2F&width=450&layout=standard&action=like&size=small&share=true&height=35&appId=138020823733339" width="450" height="35" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

                  <div class="text-center">
                    <a href="https://vanhocpham.me">Copyright © 2020 vanhocpham.me</a>
                    <a href="https://www.dmca.com/Protection/Status.aspx?ID=b024e4df-8169-41bc-83db-eed18122add1&amp;refurl=https://www.vanhocpham.me/generate-virtual-gmail/" title="DMCA.com Protection Status" class="dmca-badge"> <img src="https://images.dmca.com/Badges/dmca-badge-w100-5x1-09.png?ID=b024e4df-8169-41bc-83db-eed18122add1" alt="DMCA.com Protection Status"></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
                </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>

</html>